<section class="dumps-content">
    <p>We miss our friend. Have you seen him?<br /> Paid for and approved by <a href="https://www.aubskate.com" target="_blank" rel=”noopener”>ASC / 2G</a>.</p>

    <div class="dumps-form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdLQNFnOH2gyRrBUfuSa9hl-TW_pkEibAdxua9PhpxrPlxqkw/viewform?embedded=true" width="100%" height="1040" frameborder="0" marginheight="0" marginwidth="0" title="Send us tips on where you've seen Cory">Loading…</iframe>
    </div>
</section>
