<header class="dumps-header">
    <h1 class="dumps-content">
        <span aria-hidden="true" class="dumps-header-text">C<span class="dumps-no-shadow">🍑</span>RYDUMPS</span>
        <span class="dumps-sr-only">Cory Dumps</span>
    </h1>
</header>
