{% extends "./partials/layouts/layout.njk" %}

{% block header %}
{% include "./partials/components/header/header.njk" %}
{% endblock %}

{% block content %}
{% include "./partials/components/form/form.njk" %}
{% endblock %}
